.dropdown select {
  padding: 20px;
  width:98%;
  border-radius: 4px;
  border: 1px solid #b4b4b4;
  font-size: 16px;
  margin-bottom: 20px;
}

.dropdown select:hover, .dropdown select:focus {
  outline: none;
  box-shadow: 0px 0px 3px 1px rgb(0, 0, 0, 0.1);
  border: 1px solid #b5b5b588;
}