:root {
  /* fonts */
  --fontPrimary: system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;

  /* font sizes */
  --fontSizeNormal: 16px;
  --fontWeightSmall: 200px;

  /* Colors */
  --assistColor: #508991;
  --assistColorLight: #eef3f4;
  --primaryColor: #004346;
  --whiteColor: #fff;
  --secondaryColor: #172a3a;
  --yellowColor: #f2c94c;
  --formLight: #b5b5b5;

  /* To show the rating star color */
  --ratingStarColor: #f2c94c;

  /* Gaps */

  /* Paddings */
  --mediumScreenPadding: 0 5vw;
  --largeScreenPadding: 0 10vw;

  /* border radiuses */
  --borderRadiusSmall: 5px;
  --borderRadiusMedium: 10px;
  --borderRadiusLarge: 15px;
  /* Effects */
  --navBarShadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

body {
  font-family: var(--fontPrimary);
  font-size: var(--fontSizeNormal);
  color: var(--secondaryColor);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}