.container {
    padding: 0px 5vw 75px 5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .heading {
    max-width: 900px;
    font-size: 3rem;
    font-weight: 700;
    line-height: 4rem;
    margin-bottom: 24px;
  }
  
  .flex p {
    min-width: 250px !important;
    max-width: 600px !important;
    color: var(--assistColor);
    line-height: 1.7rem;
    text-align: justify;
  }
  
  .flex {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  
  .flexInfo{
    display: flex;
    gap:20px;
  }
  
  .container img{
    min-width: 400px !important;
  }
  
  .btn{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
  }

  .listing{
    display: flex;
    justify-content: left;
    gap: 30%;
  }

  .participantsHeading {
    line-height: 30px;
    /* text-align: center; */
    text-transform: uppercase;
    color: var(--primaryColor);
    font-weight: 700;
    font-size: 2rem;
  }
  .participantsContianer{
    padding: 0px 5vw 75px 5vw;
  }

  ul{
    list-style:none;
    padding: 0;
  }

  li{
    margin-block: 10px;
  }

  .subHead{
    line-height: 10px;
    text-transform: uppercase;
    color: var(--assistColor);
    padding-block: 10px;
    font-weight: 500;
  }

  .pending{
    padding-top: 50px;
  }

  .pending li{
    display: flex;
    flex-direction: column;
  }
  .pending ul 
  {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 50px;
  }

  .pending li div{
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding-block: 30px;
  }